@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
      @import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Source+Sans+Pro:wght@200&display=swap');
      @import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400&family=Open+Sans:wght@300&display=swap');
      * {
        font-family:"Fira Code",monospace;
      }
      
      
      #search {
        border:2px solid #AAAAAA;
        border-radius:12px;
        width:500px;
        height:50px;
        outline:none;
        background:#FFFFFF;
        color:black;
        font-size:20px;
        padding-left:15px;
        padding-right:15px;
      }
      #wind {
        left:10px;
        position:fixed;
        top:20px;
        /*height:180px;*/
        transition-duration:0.2s;
      }
      #statDiv {
        position:absolute;
        width:100%;
        top:-20px;
        height:15px;
        background-color:#FFFFFF00;

      }
      
      .result {
        width:calc( 100% - 10px );
        height:25px;
        background-color:#EEEEEE;
        border:none;
        transition-duration:0.1s;
        position:relative;
        padding-left:10px;
        padding-top:5px;
        color:black;
      }
      
      .result[ha]:hover {
        background-color:#BBBBBB;
        transition-duration:0.1s;
        color:black;
      }
      
      #results {
        width:100%;
        /*height:60px;*/
        border-radius:12px;
        background-color:#EEEEEE;
        position:relative;
        top:10px;
        overflow:hidden;
        transition-duration:0.2s;
        height:0px;
      }
      
      body {
        background-color:#666666;
      }
      
      .widg {
        width:125px;
        height:15px;
        font-size:15px;
        text-align:center;
        position:fixed;
        top:0px;
        color:white;
      }
      
      /* Stuff from legacy */
      
      #err_scr {
        background-color:#333333;
        position:fixed;
        width:400px;
        height:250px;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
      z-index:10;
      }
      
      .loginInput {
        border:none;
        outline:none;
        border-radius:4px;
        font-family:'Source Sans Pro',sans-serif;
        font-size:16px;
        transform:translate(-50%,0%);
        left:50%;
        position:relative;
        text-align:center;
        background-color:#444444;
        color:#DDDDDD;
        padding:2px;
      }
      